{% extends "base.html" %}
    {% block content %}    
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="row">
                <div class="sixteen column wide center aligned">
                    <div class="ui two statistics">
                        <div class="statistic animated zoomIn">
                            <div class="value">
                            {{ all_books_len }}
                            </div>
                            <div class="label">
                                Livros
                            </div>
                        </div>  
                        <div class="statistic animated zoomIn">
                            <div class="value">
                                {{ total_cards }}
                            </div>
                            <div class="label">
                            Cartas
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="eight wide column">
                    <div class="ui tall stacked segment">
                        <a class="ui yellow ribbon label">Livros</a>
                        <div class="ui yellow right corner label"
                        data-content="Adicionar novo livro!"
                        data-position="right center">
                            <a href="/book/new"><i class="add icon" style="cursor: pointer;"></i></a> 
                        </div>
                        <h1 class="ui header ellipsis topic">Adicione um livro => </h1>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui tall stacked segment">
                        <a class="ui green ribbon label">Cartas</a>
                        <div class="ui green right corner label"
                        data-content="Adicione uma nova carta"
                        data-position="right center">
                            <a href="/cards/new"><i class="add icon" style="cursor: pointer;"></i></a> 
                        </div>
                        <h1 class="ui header ellipsis question">Adicione uma carta => </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="eight wide column">
                    <div class="ui tall stacked segment">
                        <a class="ui red ribbon label">Níveis</a>
                        <div class="ui red right corner label"
                        data-content="Adicionar novo nível!"
                        data-position="right center">
                            <a href="/level/new"><i class="add icon" style="cursor: pointer;"></i></a> 
                        </div>
                        <h1 class="ui header ellipsis topic">Adicione um nível => </h1>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui tall stacked segment">
                        <a class="ui blue ribbon label">Alunos</a>
                    <h1 class="ui header ellipsis topic">Gerenciamento de alunos:</h1>
                        <a class="ui right big blue button" href="/user_admin">Gerenciar Alunos</a>
                    </div>
                </div>

            <div class="row">
                <div class="sixteen wide column">
                    {% if card%}
                    <a class="ui left floated big green button" href="/cards_admin">Editar Cartas!</a>
                    {% endif %}
                    {% if book%}
                    <a class="ui left floated big yellow button" href="/books_admin">Editar Livros!</a>
                    {% endif %}
                    <a class="ui left floated big red button" href="/level_admin">Editar Níveis!</a>
                </div>
            </div>
        </div>
    </div> 
    {% endblock %}