{% extends "base.html" %}
    {% block content %}    
    <div class="ui container">
        <div class="ui stackable grid">
            <h1>Olá, {{ u_name }}</h1>
            <h1>O ID da carta é: {{card_id}}</h1>
            <h1>O id do usuário é: {{u_id}}</h1>
            <div class="row">
                <div class="sixteen column wide center aligned">
                    <div class="ui two statistics">
                        <div class="statistic animated zoomIn">
                            <div class="label">
                                Você está no livro:
                            </div>
                            <div class="value">
                            {{ u_book }}
                            </div>
                        </div>  
                        <div class="statistic animated zoomIn">
                            <div class="label">
                                Cartas nesse livro:
                                </div>
                            <div class="value">
                                {{ total_cards }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="eight wide column">
                    <div class="ui tall stacked segment">
                        <a class="ui black ribbon label">Tópico</a>
                        {% if card %}
                        <h1 class="ui header ellipsis topic">{{ card.topic }}</h1>
                        {% else %}
                        <h1 class="ui header ellipsis topic">Não há mais cartas...</h1>
                        {% endif %}
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui tall stacked segment">
                        <a class="ui green ribbon label">Questão</a>
                        {% if card%}
                        <h1 class="ui header ellipsis question">{{ card.question }}</h1>
                        <h1 class="ui header ellipsis answer hidden-answer">{{ card.answer }}</h1>
                        <h1> ↑↑ Resposta ↑↑ </h1>
                        {% else %}
                        <h1 class="ui header ellipsis question">Não há mais cartas...</h1>
                        <h1 class="ui header ellipsis answer">Em breve mais...</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                {% if card%}
                <div class="sixteen wide column">
                    <form action="/{{u_id}}{{card_id}}/somar" method="POST">
                        <button type="submit" class="ui right floated big green button">Eu sei!</button>
                    </form>
                    <form action="/{{u_id}}{{card_id}}/subtrair" method="POST">
                        <button type="submit" class="ui right floated big red button">Eu não sei!</button>
                    </form>
                        <!-- <div class="ui labeled icon top right pointing dropdown right floated big teal button">
                            <i class="filter icon"></i>
                            <span class="text">Filtrar Cartas</span>
                            <div class="scrollable menu">
                              <div class="ui search icon input">
                                <i class="search icon"></i>
                                <input type="text" name="search" placeholder="Procurar cartas...">
                              </div>
                              <div class="divider"></div>
                              <div class="header">
                                <i class="tags icon"></i>
                                Filtrar por capítulo:
                              </div>
                              <a class="item" href="/cards/category/general">
                                <div class="ui blue empty circular label"></div>
                                General
                              </a>
                              <a class="item" href="/cards/category/code">
                                <div class="ui yellow empty circular label"></div>
                                Code
                              </a>
                              <a class="item" href="/cards">
                                <div class="ui green empty circular label"></div>
                                All
                              </a>
                              <div class="divider"></div>
                              <div class="header">
                                <i class="code icon"></i>
                                Filter by topic
                              </div>
                              {% set seq = ['blue', 'red', 'green', 'yellow', 'black', 'olive', 'violet', 'orange', 'purple', 'pink', 'brown'] %} 
                              {% for card in all_topics%}
                              <a class="item" href="/cards/topic/{{ card }}">
                                <i class="{{ seq | random }} circle icon"></i>
                                {{ card }}
                              </a>
                              {% endfor %}
                            </div>
                          </div> -->
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div> 
    {% endblock %}