{% extends "base.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codestyles.css') }}">
{% endblock %}
{% block content %}
    <div class="ui segment">
        <div class="ui stackable grid">
            <div class="sixteen wide column">
                <a class="ui left floated green button" href="/admin">← Voltar</a>
        </div>
            {% for user in users %}
            <div class="four wide column" >
            <div class="ui fluid card">
                    <div class="content">
                        <div class="topic ellipsis header">
                           Nome: {{user.username}}
                        </div>
                        <div class="question ellipsis meta">
                           Email: {{user.email}}
                        </div>
                        <div class="question ellipsis meta">
                            Telefone: {{user.phone}}
                         </div>
                        <div class="question ellipsis meta">
                            Nível: {{user.id_level}}
                         </div>
                         <div class="question ellipsis meta">
                            Livro: {{user.id_book}}
                         </div>
                        <div class="description">
                        </div>
                    </div>
                    <div class="extra content" onmouseover="showDescription(this)" onmouseout="showDescription(this)">
                        <div class="sixteen wide column">
                            <a class="ui right floated green button toggle" href="/user_admin/{{ user.id }}">Editar aluno!</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}